@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-style {
  font-family: 'Lato','Poppins','Inter', sans-serif; 
                      
}
.gradient-text {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6, #ec4899);
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.unstructured-btn {
  @apply bg-transparent text-white font-semibold py-2 px-4 border border-white rounded-full transition duration-300 ease-in-out;
}

.unstructured-btn:hover {
  @apply bg-yellow-100 text-yellow-400;
}


.no-scrollbar{
  scrollbar-width: thin;
  scrollbar-color:rgba(0,0,0,0.2) transparent
}

.bg-Img{
  background-image: url('/img/background_img.jpg');
  background-size: cover;
  background-position: center;
}
.bg-Img2{
  background-image: url('/img/background_img2.jpg');
  background-size: cover;
  background-position: center;

}
.bg-Img3{
  background-image: url('/img/background_img2.jpg');
  background-size: cover;
  background-position: center;

}